
.error {
    border: 1px solid red;
}

body {
    height: 100vh;
    background-image: url('../img/ruta.jpg');
    background-size: cover;
}
.enlacesDerecha {
    margin-top: 2%;
    float: right;
    margin-right: 10%;
}

.enlacesIzquierda {
    margin-top: 2%;
    margin-left: 10%;
    float: left;
}
header{
    height: 10%;
}
main{
    height: 80%;
}
footer{
    height: 10%;
}
/*Defino el tamaño del fonodo blanco*/
.fondo{
    box-sizing: border-box;
    width: 60%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1%;
}
/*defino display flow roots en el form*/
form{
    display: flow-root;
}
/*Defino la columna izquierda*/
.formIzquierda{
    text-align: center;
    width: 50%;
    float: left;
}
.formDerecha{
    text-align: center;
    width: 50%;
    float: right;
}
