.error2 {
    width: 90%;
}

.error {
    border: 1px solid red;
}

body {
    height: 100vh;
    background-image: url('../img/ruta.jpg');
    background-size: cover;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    height: 10%;
}

main {
    box-sizing: border-box;
    height: 80%;
}

footer {
    display: flow-root;
    height: 10%;
}

.fondo {
    display: flow-root;
    margin: auto;
    width: 50%;
    height: 90%;
    border-radius: 5px;
    background-color: #ffffff;
}

.foto {
    position: absolute;
    left: 250px;
    top: 150px;
    height: 100px;
    width: 90px;
    background-image: url('../img/user.png');
    background-position: center;
    background-size: cover;
}

.enlacesDerecha {
    margin-top: 2%;
    float: right;
    margin-right: 10%;
}

.enlacesIzquierda {
    margin-top: 2%;
    margin-left: 10%;
    float: left;
}

h1 {
    text-align: center;
    color: #ffffff;
}

form {
    height: 65vh;
    text-align: center;
    width: 99%;
    /*    margin: 3% auto;*/
}

.formIzquierda {
    margin: 10% auto;
    width: 48%;
    float: left;
}

.formDerecha {
    margin: 10% auto;
    width: 48%;
    height: 30vh;
    float: right;
}

#primerNombre,
#segundoNombre,
#primerApellido,
#segundoApellido,
#numeroIdentificacion,
#email,
#telefono,
#tipoID,
#tipoGenero,
#descripcion {
    border-radius: 3px;
    background-color: #f1f3f5;
    width: 90%;
    height: 3vh;
}

#lblNombre,
#lblSegundoNombre,
#lblPrimerApellido,
#lblSegundoApellido,
#lblCorreo,
#lblNumeroID,
#lblTipoID,
#lblTipoGenero,
#lblDescripcion {
    display: block;
}

#lblTelefono {
    margin-top: 2%;
    margin-bottom: 1%;
    display: block;
}

.fotografia {
    margin-right: 15%;
    float: right;
    width: 8vw;
    height: 10vh;
}

.fotografia button {
    width: 90%;
    height: 40%;
    color: #ffffff;
    border-radius: 5px;
    background-color: #099268;
}

#lblTipoGenero {
    margin-top: 3%;
    display: block;
}

#btnEncargadoRutas {
    display: block;
    margin: auto;
    color: #ffffff;
    border-radius: 5px;
    background-color: #099268;
    width: 15%;
    height: 7%;
}

button:hover {
    background-color: #38d9a9;
    color: #087f5b;
}

p {
    color: #ffffff;
    text-align: center;
}