

footer{
    height: 10%;
}
header{
    /*background-color:#343a40;*/
    height: 10%;
}
body{
    /*background-color: #343a40;*/
    height: 100vh;
    background-image: url('../img/pago.jpg');
    background-size: cover;
}
main{
    height: 80%;
}
.enlacesDerecha{
    padding-right: 10%;
    padding-top: 1%;
    float: right;
}
.enlacesIzquierda{
    padding-left: 10%;
    padding-top: 1%;
    float: left;
}
a{

    color:#ffffff;
}

h1{
    box-sizing: border-box;
    padding-top: 3%;
    color: #ffffff;
    text-align: center;
    margin-bottom: 3%;
}

.rectangulo{
    opacity: 0.5;
    border-radius: 5px;
    background-color:#ffffff ;
    min-height: 60%;
    width: 50%;
    margin: auto;
    padding-top: 20px;
}


table{
    margin: auto;
    width: 70%;
    color:#000000
    
}
tr{
    border: 1px solid #000000;
}
th{
    border: 1px solid #000000;
    padding: 1%;
}

p{
    color: #fff;
    text-align: center;
}