body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #343a40;
    color: #fff;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

#formulario {
    background-color: #dee2e6;
}

#formulario label {
    color: #000000;
}

.contenedor-imagen {
    background: url('../imgs/carretera.jpg');
    background-size: cover;
    background-position-y: center;
    height: 250px;
}

main h1 {
    font-size: 40px;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 20px;
}

#formulario {
    border: 1px solid #fff;
    width: 600px;
    height: 450px;
    margin: 0 auto

}

#formulario .tamanno {
    width: 250px;
    height: 35px;
    text-align: center;
    color:#fff;
    margin-top: 20px;
}

.tamanno input {
    text-align: center;
    height: 20px;
    width: 250px;
    margin-top: 5px;
}

.tamanno select {
    height: 27px;
    width: 253px;
    margin-top: 5px;
    color: #000000;
}

.primerContenedor {
    float: left;
    margin-left: 30px;
}

.segundoContenedor {
    float: right;
    margin-right: 30px;
}

.foto button {
    border-width: thin;
    background-color: #fff;
    border-radius: 2%;
    border-color: #D3D3D3;
    color: #000000;
    margin-top: 8px
}

.foto {
    margin-top: 22px;
}

.flotar-izquierda {
    float: left;
    padding-left: 70px;
    padding-top: 20px;
}

.flotar-derecha {
    float: right;
    padding-right: 70px;
    padding-top: 20px;
}

.enviar button {
    font-size: 25px;
    height: 50px;
    width: 150px;
    border: 1px solid #fff;
    background-color: #343a40;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 15px;
}

.enviar button:hover {
    color: #343a40;
    background-color: #fff;
}

.pie-pagina {
    text-align: center;
    margin-bottom: 30px;
}

.input-error {
    border: 1px solid #ff0000;
}